:root {
  --color-primary: #473476;
  --color-secondary: #3a2965;
}

/* === CONTACTO === */
.tarjeta_contacto{
    position: relative;
    width: 100%;
    height: 1000px;
    margin: auto;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing:border-box;
}

/* ==== Contenedor principal ==== */

.Titulo-contacto {
  text-align: center;
  padding: 2rem;
  color: var(--color-primary);
}

.tarjeta_contacto p, .tarjeta_contacto a {
  font-size: clamp(16px, 2vw, 16px);
  color: var(--color-primary);
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
}


.planilla-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
}

.formulario {
  display: grid;
  flex-direction: column;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  background: white;
  border-radius: 1rem;
  border: 2px solid var(--color-primary);
  max-width: 1000px;
  width: 100%;
  padding: 2rem;
}

/* ==== Formulario ==== */
.formulario form {
  display: flex;
  flex-direction: column;
}

.formulario input,
.formulario textarea {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.8rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.formulario input:focus,
.formulario textarea:focus {
  border-color: #22315f;
  outline: none;
  box-shadow: 0 0 5px rgba(34,49,95,0.3);
}

.contacto-contact-btn, .btn_mail {
  background: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.9rem;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contacto-contact-btn:hover, .btn_mail:hover {
  background: var(--color-secondary);
}

/* ==== Información de contacto ==== */
.col-md-6 {
  text-align: center;
}

.col-md-6 h2 {
  margin-bottom: 1rem;
  color: var(--color-primary);
}

.links-contacto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.info-contacto {
  text-align: center;
  margin-top: 4vh;
}

.btn_whatsapp, .btn_instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--color-primary);
  text-decoration: none;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: background 0.3s ease;
}


.btn_whatsapp img, .btn_instagram img {
  width: 20px;
  height: 20px;
}

